<!-- 社交图标 -->
{{/* <div class="flex justify-center gap-4 mt-3">
  <a href="https://x.com/your-id"><img src="/icons/x.svg" alt="X" class="h-5"></a>
  <a href="https://youtube.com/your-id"><img src="/icons/youtube.svg" alt="YouTube" class="h-5"></a>
  <a href="https://twitch.tv/your-id"><img src="/icons/twitch.svg" alt="Twitch" class="h-5"></a>
  <a href="https://booth.pm/your-id"><img src="/icons/booth.svg" alt="Booth" class="h-5"></a>
</div> */}}


<!-- 头部导航区域 -->
<header class="w-full">
  <div class="max-w-6xl mx-auto py-4 px-6 text-center">
    <nav>
      <ul class="flex flex-wrap justify-center text-xl font-bold tracking-wide items-center">
        {{ range $index, $item := .Site.Menus.main }}
        <!-- 分隔符（除了第一个菜单项） -->
        {{ if $index }}
        <span class="mx-6 text-gray-300">|</span>
        {{ end }}
        <li>
          <a href="{{ $item.URL }}" class="hover:text-orange-500 transition-colors
                    {{ if $.IsMenuCurrent "main" $item }} text-orange-500 {{ end }}">
            {{ $item.Name }}
          </a>
        </li>

        {{ end }}
        <li class="ml-8 justify-center"> <!-- mr-8 增加和第一个菜单的间距 -->
          <img src="/img/mailicon.png" alt="邮件图标" class="h-6 w-6 align-middle">
        </li>
      </ul>
    </nav>
  </div>
</header>