{{ $pag := $.Paginator }}
<nav class="pager" aria-label="Pagination">
    <ul class="pager__list">
        <li class="pager__item">
            {{ if $pag.HasPrev }}
            <a href="{{ $pag.Prev.URL }}" class="pager__link" aria-label="Previous page">&laquo;</a>
            {{ else }}
            <span class="pager__link pager__link--disabled" aria-hidden="true">&laquo;</span>
            {{ end }}
        </li>

        {{ range $pag.Pagers }}
        {{ $isCurrent := eq . $pag }}
        <li class="pager__item">
            <a href="{{ .URL }}" class="pager__link {{ if $isCurrent }}pager__link--current{{ end }}">
                {{ .PageNumber }}
            </a>
        </li>
        {{ end }}

        <li class="pager__item">
            {{ if $pag.HasNext }}
            <a href="{{ $pag.Next.URL }}" class="pager__link" aria-label="Next page">&raquo;</a>
            {{ else }}
            <span class="pager__link pager__link--disabled" aria-hidden="true">&raquo;</span>
            {{ end }}
        </li>
    </ul>
</nav>
